@import '../assets/variables.scss';

.heart {
  height: 30px !important;
  width: 30px !important;
  left: calc(100% - 55px) !important;
}
.btn-selected {
  color: #4084ff !important;
}

.margin-right {
  margin-right: 10px;
}
.margin-left {
  margin-left: 10px;
}
.margin-top {
  margin-top: 10px;
}
.margin-bot {
  margin-bottom: 10px;
}

.pad-right {
  padding-right: 10px;
}
.pad-left {
  padding-left: 10px;
}
.pad-top {
  padding-top: 10px;
}
.pad-bot {
  padding-bottom: 10px;
}

.btn-group {
  display: flex;
  margin-top: 5px;
}
.peep-btn {
  width: 60px;
}

.highlight {
  background-color: #424242 !important;
  color: aqua !important;
}
.remove-margin {
  margin: 0 !important;
}

.class1 {
  color: #f8ac18 !important;
}
.class2 {
  color: #c1d32f !important;
}
.class3 {
  color: #7d9138 !important;
}
.class4 {
  color: #0ba25b !important;
}
.class5 {
  color: #1b6499 !important;
}
.class6 {
  color: #7769a6 !important;
}
.class7 {
  color: #7ca4d5 !important;
}
.class8 {
  color: #e63724 !important;
}
.class9 {
  color: #9e4c37 !important;
}

.form-width {
  max-width: 1000px;
  min-width: 500px;
}

.v-card__title {
  word-break: normal !important;
}

@media only screen and (max-width: 500px) {
  .form-width {
    min-width: 200px;
  }
  .pad-title {
    padding: 0 !important;
  }
  .toolbar {
    height: 40px !important;
  }
  .v-btn {
    height: 30px !important;
  }
  .main-margin {
    margin: 44px 0 !important;
  }
  .footer {
    position: relative !important;
  }
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-center {
  display: flex;
  align-items: center;
}

.coming-soon {
  color: $fPink;
}

.clickable {
  cursor: pointer;
}

.clickable-no-hov {
  cursor: pointer;
}

h1 {
  color: $midnight;
}
h2 {
  color: $fPink;
}
h3 {
  color: $midnight;
}
h4 {
  color: $fPink;
}
h5 {
  color: $midnight;
}

.color-blue {
  color: $midnight !important;
}
.color-pink {
  color: $fPink !important; // $cPink !important;
}
.noti-blue {
  color: rgb(3 255 243 / 60%) !important;
}

.shadow {
  box-shadow: 1px 1px 10px 0 #fff, 0 3px 12px 0 #f0f, 0 5px 17px 0 #0ff !important;
}
.footer-shadow {
  box-shadow: 0px 0px 10px 0 black, 0px -3px 12px 0 #0f0f44, 0px -5px 17px 0 #191970 !important;
}

@media (min-width: 960px) {
  .master-container {
    max-width: 900px;
  }
}

@media (min-width: 1264px) {
  .master-container {
    max-width: 1185px;
  }
}

@media (min-width: 1800px) {
  .master-container {
    max-width: 1785px;
  }
}

.main-margin {
  margin: 64px 0;
}

.toolbar {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
}
.master-container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}
