// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// $primary: #21a0f3;
// $accent: #4084ff;
// $secondary: #ffe18d;
// $success: #4caf7a;
// $info: #2196f3;
// $warning: #fb8c00;
// $error: #ff5252;

$primary: #223982;
$accent: #3f3fbc;
$secondary: #e0ef4d;
$offWhite: #f6f6f6;
$success: #f2edf0;
$info: #3a3a3a;
$warning: #fb8c00;
$error: #ff5252;

$cPink: pink;
$cBlue: #8fceee;

$body-font-family: 'Libre Baskerville';
$heading-font-family: 'Oswald';
$font-size-root: 18px;

$body-font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;
$typography: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif !important;

